@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 25% 97.5%;
    --foreground: 208 37% 15%;
    --card: 0 0% 100%;
    --card-foreground: 208 37% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 208 37% 15%;
    --primary: 208 37% 23%;
    --primary-foreground: 0 0% 100%;
    --secondary: 208 20% 92%;
    --secondary-foreground: 208 37% 23%;
    --muted: 208 20% 92%;
    --muted-foreground: 208 10% 40%;
    --accent: 142 70% 49%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 208 20% 85%;
    --input: 208 20% 85%;
    --ring: 208 37% 23%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 327 30% 10%;
    --foreground: 0 0% 98%;
    --card: 327 30% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 327 30% 12%;
    --popover-foreground: 0 0% 98%;
    --primary: 327 87% 81%;
    --primary-foreground: 327 30% 20%;
    --secondary: 327 30% 15%;
    --secondary-foreground: 327 87% 81%;
    --muted: 327 30% 15%;
    --muted-foreground: 327 10% 60%;
    --accent: 327 30% 15%;
    --accent-foreground: 327 87% 81%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 327 30% 20%;
    --input: 327 30% 20%;
    --ring: 327 87% 81%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}